body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
}

.site-title {
    color: white;
    font-size: 1.5rem;
}

.logo {
    width: 60px;
    height: auto;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center; 
    gap: 1rem;
    padding: 2rem 1rem;
    z-index: 1000;
    height: 100vh; 
    width: 200px;  
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 0.75rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, padding-left 0.3s ease;
    width: 100%;
    position: relative;
}

.nav a::before {
    content: '➼'; 
    position: absolute;
    left: -25px; 
    opacity: 0;
    transition: opacity 0.3s ease, left 0.3s ease;
}


.nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #f0f0f0; 
    padding-left: 1.4rem; 
}

.nav a:hover::before {
    opacity: 1;
    left: 0; 
}


.nav a.active {
    background-color: #4a90e2; 
    color: white;
}